@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --bg-color-dark: #1B9AAA;
    --bg-color-light: #A0E3EA;

    --text-color-dark: #00838F;
    --text-color-medium: #00ACC1;
    --text-color-light: #4DD0E1;
    
    --font-family: "Inter", sans-serif;
    --font-size-sm: 0.75em;
    --font-size-md: 1em;
    --font-size-lg: 1.5em;

    --spacing-sm: 12px;
    --spacing-md: 24px;
    --spacing-lg: 48px;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, var(--bg-color-light), var(--bg-color-dark));
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    padding: 0;
}