@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    box-sizing: border-box;
}

body{
    background: #d3edf0;
}

:root{
    --bg-color-dark: #1B9AAA;
    --bg-color-light: #A0E3EA;
    --bg-color-body: #d3edf0;
    
    --font-family: "Inter", sans-serif;
    --font-size-sm: 0.75rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.5rem;
    --font-size-xl: 2rem;

    --spacing-sm: 12px;
    --spacing-md: 24px;
    --spacing-lg: 48px;
}
